@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow:wght@400;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik+Scribble&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
/* font-family: "PT Sans Narrow", sans-serif; */
/* font-family: "Rubik", sans-serif; */
/* font-family: "Rubik Scribble", system-ui; - dziwne*/
/* font-family: "Roboto", sans-serif; - zwykle*/


*{
    margin: 0;
    padding: 0;

    box-sizing: border-box;

    transition: .2s ease-in;
}

html {
    scroll-behavior: smooth;
    overflow-x:hidden;
}

::selection {
    color:white;
    background: #836a55;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    color: #000;
}

.container{
    max-width: 10000px;
    margin: auto;
}

.footer{
    background-color: #0f0900;
    color: #ffffff;
    text-align: center;
    width: 100%;
    clear: both;
    font-family: "Roboto", sans-serif;
    font-size: 2vmin;
    padding: 2vmin;
    left: 0;

    z-index: 100;
    position: absolute;
}

.baner{
    display: flex;
    align-items: center;
    justify-content: space-between;
    top: 0;
    left: 0;
    clear: both;
    background-color: #fff;
    width: 100%;
    z-index: 100;
    position: absolute;

    animation-name: upDown;
    animation-duration: 1.5s;
}

.baner img{
    width: 15vmin;
    margin-left: 10vmin;

    animation-name: leftSvg;
    animation-duration: 3s;
}

.baner .githubIcon{
    width: 2vmax;
    margin-right: 4vmin;
}

.nav{
    display: flex;
    align-items: center;
    gap: 4vmin;
    margin-right: 10vmin;
    padding: 3vmin;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
}

.nav a{
    text-decoration: none;
    color: rgb(156, 156, 156);
    background-color: #ffffff;
    border: solid .5vmin #fff;
    border-radius: 5vmin;
    padding: 2vmin 3vmin;
    transition: .75s ease;
    font-size: 1.5vmin;
    font-family: "Roboto", sans-serif;
    white-space: nowrap;
    text-transform: uppercase;
    font-weight:500;
    letter-spacing: .05vmin;
    
}

.nav .c{
    background-color: #af947e;
    color: #fff;
    transition: .2s ease-in;
}

.nav .c:hover{
    transition: .2s ease-in;
    background-color: rgb(143, 119, 100);
}

.nav a:hover{
    transition: .75s ease;
    /* border: solid .5vmin #af947e; */
    border: solid .5vmin #4d2e00;
}

.nav .c:hover{
    transition: .75s ease;
    border: .5vmin solid #fff;
}

.main{
    background-color: #ebeaea;
    padding: 25vmin;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 100%;
    /* left: 50%;
    transform: translate(-50%); */
    position: relative;

    animation-name: upDown;
    animation-duration: 1s;
    z-index: 5;
}

.main2{
    padding: 8vmin;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 100%;
    color: #fff;
    position: relative;

    animation-name: upDown;
    animation-duration: 1.25s;

    background-image: url(programmingImage.jpg);
    background-attachment:fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    z-index: 4;
}

.main3{
    background-color: #fff;
    padding: 8vmin;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 100%;
    color: #000000;
    position: relative;

    animation-name: upDown;
    animation-duration: 1.5s;

    z-index: 3;
}

.main4{
    background-color: #ebeaea;
    padding: 8vmin;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 100%;
    color: #000000;
    position: relative;

    animation-name: upDown;
    animation-duration: 2s;

    z-index: 2;
}

.main4 h2{
    font-size: 3vmin;
}

.main4 h3{
    color: rgb(105, 105, 105);
    font-size: 2.25vmin;
}

.main4 h3 a{
    color: rgb(105, 105, 105);
}

.main3 h2{
    margin-top: 1vmin;
    font-size: 3vmin;
    font-family: "Roboto", sans-serif;
}

.main3 h3{
    color: grey;
    font-family: "Rubik", sans-serif;
    text-align: center;
    width: 50%;
    left: 50%;
    transform: translate(-50%);
    position: relative;
    font-size: 2vmin;
}

.main3 .h{
    font-size: 3vmin;
    color: rgb(0, 0, 0);
}

.main2 h3{
    width: 50%;
    text-align: center;
    left: 50%;
    transform: translate(-50%);
    position: relative;
    font-size: 2vmin;
}

.main2 h3 a{
    color: #fff;
}

.main h1{
    margin-top: 3vmin;
    font-size: 2vmin;
    font-family: "Roboto", sans-serif;
}

.main h2{
    font-size: 5vmin;
}

.main .h3{
    color: grey;
    font-family: "Rubik", sans-serif;
    font-size: 2vmin;
}

.main .h{
    color: rgb(105, 105, 105);
}

.contactBtn{
    margin-top: 2vmin;
    color: #fff;
    background-color: #4d2e00;
    padding: 2vmin 4vmin;
    border: none;
    border-radius: 1.5vmin;
    font-size: 2vmin;
    transition: .2s ease-in;
}

.contactBtn:hover{
    transition: .2s ease-in;
    background-color: #362100;
}

.svgs1{
    margin-top: -160vmin;
}

.svgs2{
    margin-top: 99.9vmin;
}

.svg1{
    rotate: 90deg;
    width: 100vmin;
    position: absolute;
    z-index: 10;
}

.svg2{
    rotate: -90deg;
    width: 100vmin;
    position: absolute;
    z-index: 10;
}

.svg1M{
    rotate: 90deg;
    width: 100vmin;
    position: absolute;
    z-index: 9;    
}

.svg2M{
    rotate: -90deg;
    width: 100vmin;
    position: absolute;
    z-index: 9;
}

.svgs1 .svg1{
    left: 0;
    margin-left: -40vmin;
}

.svgs1 .svg2{
    right: 0;
    margin-right: -40vmin;
}

.svgs1 .svg1M{
    left: 0;
    margin-left: -40vmin;
}

.svgs1 .svg2M{
    right: 0;
    margin-right: -40vmin;
}


.svgs2 .svg1{
    right: 0;
    margin-right: -40vmin;
    rotate: 90deg;
    transform: scaleY(-1);
}

.svgs2 .svg2{
    left: 0;
    margin-left: -40vmin;
    rotate: -90deg;
    transform: scaleY(-1);
}

.svgs2 .svg1M{
    right: 0;
    margin-right: -40vmin;
    rotate: 90deg;
    transform: scaleY(-1);
}

.svgs2 .svg2M{
    left: 0;
    margin-left: -40vmin;  
    rotate: -90deg;
    transform: scaleY(-1);
}

.svgs1 .svg1,.svgs1 .svg1M,.svgs2 .svg2,.svgs2 .svg2M{
    animation-name: leftSvg;
    animation-duration: 1.5s;
}

.svgs1 .svg2,.svgs1 .svg2M,.svgs2 .svg1,.svgs2 .svg1M{
    animation-name: rightSvg;
    animation-duration: 1.5s;
}

@keyframes rightSvg {
    from {right: -20vmin;}
    to 100% {right: 0;}
}

@keyframes leftSvg {
    from {left: -20vmin;}
    to 100% {left: 0;}
}

@keyframes upDown {
    from {margin-top: -20vmin;}
    to 100% {margin-top: 0;}
}

@keyframes upDown2 {
    from {margin-top: -30vmin;}
    to 100% {margin-top: 0;}
}

@keyframes upDown3 {
    from {margin-top: -40vmin;}
    to 100% {margin-top: 0;}
}



@media screen and (max-width: 1000px) {
    .baner img{
        margin-left: 5vmin;
    }

    .mobileNone{
        display: none;
    }
}

@media screen and (max-width: 850px) {
    .baner img{
        margin-left: 0;
    }
    .githubIcon{
        width: 20vmax;
    }
}

@media screen and (max-width: 550px) {
    .nav{
        gap: 0;
    }

    .nav a{
        padding: 2vmin 3vmin;
        font-size: 2vmin;
    }

    .main2 h1, .main3 h1, .main4 h1{
        font-size: 5vmin;
    }

    .main2 h3, .main3 h3, .main4 h3{
        width: 100%;
        text-align: left;
        font-size: 4vmin;
    }

    .main .h3{
        font-size: 3vmin;
    }

    .svgs1{
        margin-top: -180vmin;
    }
    
    .contactBtn{
        font-size: 3vmin;
        padding: 3vmin 6vmin;
    }
}

@media screen and (max-width: 300px) {
    .nav a{
        font-size: 2.5vmin;
    }

    .svgs1{
        margin-top: -240vmin;
    }
}